@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

}

.header,
.hero-text,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb
}